@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('https://scontent.fiba1-1.fna.fbcdn.net/v/t1.6435-9/121162750_131353845383816_3048756711348959122_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=TKwUPaoq0kgAX8pl6mK&_nc_ht=scontent.fiba1-1.fna&oh=00_AfB9D0IRZAdwhUgTXvydOHHrE-zzn-HG1h8ORx5EN-MRBw&oe=638CB67F')
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}